html,
body {
    height: 100%;
    margin: 0;
}

#branch {
    height: 100%;
}

#branch .branch_image {
    background-color: #f4c2c2;
    background-size: cover;
    background-position: left, top;
    height: 100%;
    text-align: center;
}

.smallTitle {
    color: #808088;
    padding-top: 20px;
}

.region {
    border: solid;
    width: 110px;
    height: 20px;
    overflow: hidden;
    font-size: small;
    text-align: center;
    color: #808088;
    /*margin-left: 200px;*/
    margin-bottom: 2.3rem;
}

.region:hover {
    color: white;
}

.make_choice {
    padding-left: 25%;
}

.choice .scroll {
    height: 400px;
    overflow: auto;
    width: 100%;
}

.choice {
    float: left;
    margin: 10px;
}

.store {
    width: 80px;
}

.ex p {
    float: left;
    border: solid;
    font-size: small;
    margin-left: 20px;
    width: 7rem;
}
