body{
    margin:0;
}
#main{
    height:380px;
    /* margin-bottom:  */
}
#main .main_image{
    background-image:url("../image/pinkmoon.jpg");
    background-size: cover;
    background-position: left,top;
    height: 380px; 
    text-align: center;   
}
.snsIcons{
    position: relative;
    float:right;
    margin-top:20px;
    margin-right: 20px;
}
.icon{
    display: inline-block;
    margin:0 2px 0 2px;
}
#main .logo{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    /*padding:12px;*/
    margin:0;
}
#main .logo h2{
    margin: 0;
    color: white;
    font-size: 20px;
}

.menubar{
    display: flex;
    flex-direction: row;
    margin:0 0 0 5px;
    padding:0;
    list-style-type:none;
}
.menubar li{
    margin-left: 7px;
    margin-right: 7px;
}
.menubar a{
    text-decoration-line: none;
    text-align: center;
    font-size:10px;
    color:white;
}
.menubar a:hover{
    color:#e3248d;
}

.genre {
    height: 600px;
    /* width: 100%; */
    background-color: white;
    /* display: inline-block; */
    /* text-align: center; */
    position: relative;
}
.selectGenre{
    /* display:inline-block; */
    /* margin:0 auto; */

    /* text-align: center; */
    height: 350px;
    width: 350px;
    /* float: left; */
    background:white;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
#first{
    background-image:url("../image/redvelvet.jpg");
    float:left;
    height:173px;
    width:173px;
    margin:0 2px 2px 0;
}
#second{
    background-image:url("../image/redvelvet1.jpg");
    float:left;
    height:173px;
    width:173px;
    margin:0 0 2px 2px;
}
#third{
    background-image:url("../image/redvelvet2.jpg");
    float:left;
    height:173px;
    width:173px;
    margin:2px 2px 0 0;
}
#fourth{
    background-image:url("../image/redvelvet3.jpg");
    background-position: left;
    float:left;
    height:173px;
    width:173px;
    margin:2px 0 0 2px;
}
.moreBtn Button{
    height: 20px;
    width:80px;
    background-color: #f83b71;
    position: absolute;
    bottom:30px;
    left:50%;
    margin-left: -40px;
    margin-top: auto;
    text-align: center;
    border-style: none;
}

.info{
    background: #F4C2C2;
    height:450px;
    /* width:100%; */
    display: block;
    text-align: center;
}
.infoword{
    padding:20px;
}
.infoword h4{
    margin:3px 0;
}
.infoword p{
    margin:3px 0;
}
.snack{
}
.snack .popcon{
    display: inline-block;
    margin:30px 10px 30px 10px;
    height:200px;
    width:200px;

}

.ranking{
    width:160px;
    height:240px;
    border:solid;
}
.scroll{
    margin:auto;
    width:30%;
    height:auto;
    white-space: nowrap;
    overflow-x: scroll;
}
h2 {
    margin-top: 0;
}
