body{
  margin: 0;
}
.main {
  background-image: url(../public/static/pinkmoon.jpg);
  background-color: white;
  background-size: cover;
  background-position: top;
  height: 350px;
  text-align: center;
}
.snsIcons{
  float: right;
  margin-top:10px;
  margin-right: 20px;
}
.icon{
  display: inline-block;
  margin:0 2px 0 2px;
}
.main .logo{
  display: inline-block;
  line-height: normal;
  text-align: center;
  margin:60px -60px 50px 0;
}
.main .logo h1 {
  margin-top: 0;
  font-size: 4em;
  color: #EFD5D5;
}
.menubarNav{

}
.menubar{
  margin:0 0 0 5px;
  padding:0;
  list-style-type:none;
}
.menubar li{
  display:inline;
  margin-left: 20px;
  margin-right: 20px;
}
.menubar a{
  display:inline-block;
  text-decoration-line: none;
  text-align: center;
  font-size:20px;
  color:white;
}
.menubar a:hover{ color:#e3248d; }

.login-card {
  padding: 40px;
  width: 274px;
  background-color: #fff;
  margin: 0 auto 10px;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}
.username{
  margin: 0px auto;
  /* padding: 50px 0px 0px 0px; */
}

.username > input {
  display: block;
  font-size: 16px;
  margin: 0px auto;
  margin-bottom: 10px;
  background: #fff;
  width: 270px;
  height: 38px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  box-sizing: border-box;
  padding: 0 8px;
  box-shadow: 0 2px 5px #0000007c inset;
}

.login-card input[type=submit] {
  width: 50%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  float: left;
}

.pwd{
  margin: 0px auto;
  /* padding: 20px 0px 0px 0px; */
}
.pwd > input {
  display: block;
  font-size: 16px;
  margin: 0px auto;
  margin-bottom: 10px;
  background: #fff;
  width: 270px;
  height: 38px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  box-sizing: border-box;
  padding: 0 8px;
  box-shadow: 0 2px 5px #0000007c inset;
}

.pwd > input:focus{
    outline: -webkit-focus-ring-color auto 2px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 2px;
}

.login {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 28px;
  padding: 0 8px;
  background-color: #343B40;
  color: #E6BEBE;
}
.sign_in {
  float: left;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 28px;
  width: 136px;
  padding: 0 8px;
  background-color: #343B40;
  color: #E6BEBE;
}

.membership_button {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
  height: 28px;
  padding: 0 8px;
  background-color: #F2F2F2;
  color: #343B40;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  float: left;
}
.non_member {
  background-color: #F2F2F2;
  width: 100%;
  height: 28px;
  font-size: 14px;
  font-weight: 700;
  color: #343B40;
  margin-top: 10px;
}

.back{
  background-color:  #FBEFF2;
  height: 400px;
  text-align: center;
}
.whiteback {
  margin: 0 auto 10px;
  background-color: white;
  width: 700px;
  height: 400px;
}
